  html, body {
  margin: 0;
  padding: 0;
  font-family: verdana;
}

header {
  position: fixed;
  display: flex;
  height: auto;
  width: 100%;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
  background-color: white;
}

a {
  color: black;
}

p {
  font-family: georgia;
  font-size: 17px;
  color: black;
  margin-top: 16px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
}

.logo {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  padding-left: 30px;
}

.logo span {
  padding-left: 10px;
  color: MediumAquaMarine;
}

.nav span {
  padding: 10px;

}

.nav {
  display: flex;
  height: auto;
  padding-right: 30px;
  flex-basis: 400px;
  flex-wrap: wrap-reverse;
}

/*###################
Main Content Section*/

h3.newsbites {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 16px;
}

.content {
  padding-top: 116px;
  width: 100%;
  margin: 0 auto;
}
.column {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 78px auto;
  width: 1232px;
}

.large,
.medium,
.small {
  display: flex;
  flex-direction: column;
}

.subcolumn {
  display: flex;
  flex-direction: column;

}

.img {
  background-size: cover;
  height: 300px;
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
}

.large #mainstoryimg.img {
  background-image: url(./pics/mainstory.png);
  font-size: 40px;
}

.large #secstoryimg.img {
  background-image: url(./pics/fallseason.png);
}

.large #thirdstoryimg.img {
  background-image: url(./pics/hipstercamera.png);
}

.medium #firststory.img {

}

.medium #secstoryimg.img {
  background-image: url(./pics/catceo.png);
}

.small #firststoryimg.img{
  background-image: url(./pics/cookie.png);
}

.small #secstory.img {

}

.column .large {
  width: 630px;
}

.column .medium {
  width: 300px;
}

.column .small {
  width: 240px;
}

.leftbottomstories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.bitesnav {
  display: flex;
  flex-direction: column;
}

.nbitesitem {
  padding: 11px 20px;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
  font-family: verdana;
  font-size: 12px;
  color: dimgray;
}

.leftbottomstories .subcolumn {
  width: 300px;
}

/*###################
Footer Section*/

.footer {
  width: 100%;
  height: 325px;
  margin: auto;
  font-size: 12px;
  background-color: MediumAquaMarine;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.firstline  {
  display: inline-flex;
  align-items: center;
}

.footer .firstline h2 {
  font-family: georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
}

.footer p {
  font-size: 12px;
}
.footernav {
  padding-left: 25px;
}

.footernav span {
  padding: 20px 10px;
}
