header {
  display: flex;
  height: auto;
  width: 100%;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
}

a {
  color: black;
}

.logo {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  padding-left: 30px;
}

.logo span {
  padding-left: 10px;
  color: MediumAquaMarine;
}

.nav span {
  padding: 10px;

}

.nav {
  display: flex;
  height: auto;
  padding-right: 30px;
  flex-basis: 400px;
  flex-wrap: wrap-reverse;
}
